@model IEnumerable<EventPlannerPro.Models.City>
    <!-- Use Category if Categories -->
    <h2>List</h2>
    <a class="btn btn-success mb-2" href="/Cities/Create">Add City</a>
    <ul class="list-group">
        @foreach (var item in Model)
{
        <li class="list-group-item">@item.Name</li>
}
    </ul>
