@{
    ViewData["Title"] = "Начало";
}
<div class="hero">
    <div class="hero-content">
        <h1>Открий следващото си приключение</h1>
        <p>Скритите съкровища на града, диви приключения сред природата и още—планирай, присъедини се и създай спомени.</p>
        <a asp-controller="Activities" asp-action="Index" class="btn-custom btn-lg">Преглед на събития</a>
    </div>
</div>
